---
import Card from "../components/Card.astro";
import Markdown from "../components/Markdown.astro";
import Toggle from "../components/Toggle.svelte"
import Layout from "../layouts/Layout.astro";
---

<Layout title='Demo of a combi of Astro and Svelte'>
	<main>
    <h1><span class='text-gradient'>Madrus4U.links + Astro + Svelte</span></h1>
		<Toggle client:idle show='cards'>
      <ul role='list' class='link__card-grid'>
        <Card
          href='https://github.com/madrus'
          title='Github'
          body='The code I write and/or love'
        />
        <Card
          href='https://tiktok/@madrusoneandonly'
          title='TikTok'
          body='I make the tiks and the toks'
        />
        <Card
          href='https://www.instagram.com/mitohealth.nl/'
          title='Instagram'
          body={"Come join the mitohacker's way of life"}
        />
        <Card
          href='https://twitter.com/Madrusnl'
          title='Twitter'
          body='Some tweets and things'
        />
      </ul>
    </Toggle>
		<Toggle client:idle show='readme'>
      <Markdown />
    </Toggle>
		</main>
</Layout>
